<h3>Post a Comment</h3>

<%= form_for [ @article, @article.comments.build ], remote: true do |f| %>
  <p>
    <%= f.label :author_name, "Your Name" %>
    <%= f.text_field :author_name %>
  </p>
  <p>
    <%= f.label :body, "Your Comment" %><br/>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>