<h1>All Articles</h1>

<ul id="articles">
  <% @articles.each do |article| %>
    <li>
      <strong>
        <%= link_to article.title, article_path(article) %>
      </strong>
    </li>
    <li>
      <%= article.body %>
    </li>
  <% end %>
</ul>
<br>

<%= link_to "Create a New Article", new_article_path, class: "new_article" %>