<h3>Comments (<%= @article.comments.size %>)</h3>

<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<br>
<p><%= image_tag @article.image.url %></p>

<%= render partial: 'articles/comment', collection: @article.comments %>
<div id="comments"></div>

<%= render partial: 'comments/form' %>

<br>


<br><br>
<%= link_to "<<< Back to Articles List", articles_path %>
<br><br>
<%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %>
<br><br>
<%= link_to "edit", edit_article_path(@article), data: {remote: true}%>


<% content_for :js do %>
    <script>
      console.log(1)
    </script> 
<% end %>