<div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
  	<%= f.label :done %>
  	<%= f.check_box :done %>
  </div>

  <%= link_to_remove_association "remove task", f %>